// VARIABLES
$black: #171717;
$white: #f6f6f6;
$accent-color: #f38d8d;
$secondary-color-blue: #68b0c1;
$secondary-color-dblue: #227284;
$secondary-color-lblue: #b9dde7; 



@mixin primary-font($size) {
    font-family: 'Oswald', sans-serif;
    color: $black;
    font-size: $size;
    text-transform: uppercase;
}

@mixin secondary-font($size) {
    font-family: 'Cabin', sans-serif;
    color: $black;
    font-size: $size;
}

h1 {
    @include primary-font(50px);
}

h2 {
    @include primary-font(25px);
}

h3 {
    @include secondary-font(16px);
}

.wrapper {
    max-width: 1280px;
    width: 80%;
}

body {background: $secondary-color-lblue;}

h1 {
    text-align: center;
    font-size: 80px;
}



