
// HEADER STYLES
.header {
    background: $main-color;
    height: 80vh;
    background: $main-color;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img-container {
        width: 40%;
    }
    &__hero-text-container {
        width: 60%;
    }
    &__hero-text {
        margin-left: 100px;
        position: relative;
        &:after {
            content: "";
            background: url(assets/circle-text.png);
            width: 182px;
            height: 172px;
            display: inline-block;
            position: absolute;
            right: 20px;
            bottom: 20px
        }
    }
    &__img {
        margin-right: 100px;
        box-shadow: 20px 20px white;
    }
}




// FOOTER GLOBAL STYLES

.footer {
    background: $black;
    &__text {
        color: $white;
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }
}