// BIO STYLES

.bio {

	&__banner {
	
	}
}

// LINKS SECTION STYLES
.links {
	background: $white;
}

// TILES STYLES
.tiles {
		// margin: 50px 0;
	&__wrapper {
		display: flex;
		flex-direction: column;
	}
	&__container {
		display: flex;
		
		&--lower {
			flex-direction: row-reverse;
			margin-top: 50px;
		}
	}
	&__image {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&--upper {
			box-shadow: 20px 20px $accent2, -200px 20px $accent2;
			position: relative;
		}
		&--lower {
			box-shadow: -20px 20px $accent1, 200px 20px $accent1;
			position: relative;
		}
	}
	&__content {
		width: 50%;
		&--upper {
			margin-top: auto;
			
		}
		&--bottom {
			margin-bottom: auto;
		}
	}
	&__header--bottom {
		margin-top: 0;
	}
}

// STORY STYLES
.story {
    background: $white;
    
    &__wrapper {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
    }

    &__img {
				box-shadow: 20px 20px $accent2;
				flex: 1 0 250px;
    }

    &__container {
        width: 30%;
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;

        .btn {
            width: 220px;
        }
    }
}

// GALLERY STYLES
.gallery {

    margin: 75px 0;

    &__img {
        width: calc(33.3% - 20px);
        margin-right: 20px;

        &:last-of-type {
            margin-right: 0;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
}