// NAV STYLES
.nav {
    background: $main-color;

    &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

    &__link {
    padding: 10px 40px;
    font-family: $primary-font;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .2s;
    @media screen and (max-width: 980px) {
        padding: 10px 20px;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
        &:hover {
            color: $button-color;
        }
        &--active {
            color: $white;
            &:hover{
                color: $white;
            }
        } 
    }
    &__item--title {
        padding: 0 50px;
        @media screen and (max-width: 980px) {
            padding: 0 25px;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
} 

// MOBILE NAV STYLES

.mobile-nav {
    position: relative;
    margin: 0 auto;

    &__list{
        background: darken($white, 10);
        padding: 0; 
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -10;
        width: 100%;
        right: 5000px;
        height: 100vh;
        margin: 0;
        transition: right 0.3s;
        @media screen and (max-width: 768px) {
            z-index: 2;
        }
    }
    &__link {
        font-size: 4.5rem;
        border-bottom: 3px solid $black;
        display: block;
        padding: 25px 30px;
        &:active {
            text-shadow: 1px 1px $button-color, 2px 2px $button-color;
        }
    }
    &__input[type="checkbox"] {
        display: none;  
        transition: right 0.3s;
    }
    &__input[type="checkbox"]:checked + &__list {
        right: 0;
    }
    &__input-label[for="toggle"] {
        display: none;
        @media screen and (max-width: 768px) {
            display: flex;
            font-size: 3rem;
            position: absolute;
            color: $black;
            padding: 20px 25px;
            z-index: 10;
        }
    }
    &__input[type="checkbox"]:checked ~ &__input-label[for="toggle"] {
        position: fixed;
    }
}