.header{
    &__nav {
        background: $main-color;
    }

    &__list {
    // width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    &__link {
        padding: 10px 40px;
        font-family: $primary-font;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: color .2s;
        &:hover {
            color: lighten($black, 20);
        }
        &--active {
            color: $white;
        }
    }

    &__item--title {
        padding: 0 50px;
    }
}  

.footer {
    background: $black;
    &__text {
        color: $white;
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }
}